extends index

block append pageVariables
    - var pageTitle = "Games"

block maincontent
    .cards
        each item in contentData.games.records
            if item.fields.name
                .card.card-2.js-tilt
                    +image(item)
                    .card-body
                        h3.card-heading #{item.fields.name}
                        p #{item.fields.platforms} • #{moment(item.fields.releaseDate).format("MMMM Do")}
