extends index

block append pageVariables
    - var mainPageIsActive = false

block maincontent
    .cards
        each item in contentData.games.records
            if item.fields.name
                .card.card-2
                    +image(item)
                    .card-body
                        h3.card-heading #{item.fields.name}
                        p #{item.fields.platforms}
                        p Released: #{item.fields.releaseDate}
