@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,500,700,900|Bungee');

/**
 * Styles
 */

// Set a path to colors in bedrock.config.js

@import "settings.colors";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 50%;
}

@media (min-width: 700px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: 'Nunito Sans', 'Roboto', Arial, sans-serif;
  line-height: 1.5;
  padding: 6rem 2rem;
  font-size: 1.4rem;
  max-width: 128rem;
  margin: 0 auto;
  background: #000;
  color: #FFF;
}

.cards {
   display: grid;
   grid-gap: 2rem;
   grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
   margin: 0 0 4rem;
}

.card .card-image {
  img {
    width: 100%;
    margin: 0 auto;
    display: block;
    object-fit: cover;
  }
}

.card {
  margin: 1rem;
  text-align: center;
  grid-column-end: span 4;
}

.card-2 {
  grid-column-end: span 8;
  .card-image {
    img {
      height: 28rem;
    }
  }
  .card-heading {
    font-size: 130%;
  }
}

.card-3 {
  grid-column-end: span 12;
  .card-image {
    img {
      height: 30rem;
    }
  }
}

.card-body {
  padding: 1rem;
}

.card-body .card-heading {
  font-weight: 700;
}


.card-body p {
  opacity: 0.4;
  text-transform: uppercase;
  font-size: 1.2rem;
}

/* Headings
   ========================================================================== */

.main-title {
  text-align: center;
  font-size: 5.2rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
  margin: 0 0 2rem;
  font-family: Bungee;

  a {
    text-decoration: none;
    color: #FFF;
  }
}

.h3 {
  font-size: 2.1rem;
  font-weight: 600;
  margin: 0 0 2rem;
}

/* Main nav 
   ========================================================================== */

.main-nav {
  padding: 4rem 0;
  text-align: center;
  margin-bottom: 3rem;
  a {
    font-size: 2.4rem;
    font-weight: 500;
    text-decoration: none;
    margin-right: 2rem;
    opacity: 0.5;
    color: #FFF;
    font-family: Bungee;
    text-decoration: none;
    transform: rotate(-3deg);
    transform-origin: top left;
    display: inline-block;
    &.selected,
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}



footer {
  padding-top: 8rem;
  text-align: center;
  opacity: 0.5;
  li {
    display: inline-block;
    padding: 0.4rem;
  }
  color: #FFF;
  a {
    color: #FFF;
  }
}

.cover {
  display: flex;
  align-items: center;
  margin: 4rem 0;
  &:nth-child(2n) {
    flex-flow: row-reverse;
  }
}

.cover-image {
  width: 50%;
  img {
    width: 100%;
    object-fit: cover;
    max-height: 30rem;
  }
  
}

.cover-info {
  width: 50%;
  padding: 4rem;
  color: #AAA;
  font-size: 1.5rem;
  .cover-heading {
    font-size: 1.8rem;
    font-weight: 700;
    color: #FFF;
  }
  .meta {
    margin: 0 0 1rem;
    font-size: 1.2rem;
    opacity: 0.6;
    text-transform: uppercase;
  }
}