/**
 * Styles
 */

// Set a path to colors in bedrock.config.js

@import "settings.colors";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 50%;
}

@media (min-width: 700px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.5;
  padding: 2rem;
  font-size: 1.4rem;
  max-width: 128rem;
  margin: 0 auto;
}

.cards {
   display: grid;
   grid-gap: 2rem;
   grid-template-columns: repeat(auto-fill, 8rem);
   margin: 0 0 4rem;
}

.card .card-image {
  img {
    width: 100%;
    margin: 0 auto;
    display: block;
    object-fit: cover;
  }
}

.card {
  grid-column-end: span 2;
  .card-image img {
      height: 18rem;
  }
}

.card-2 {
  grid-column-end: span 4;
  .card-image {
    img {
      height: 24rem;
    }
  }
  .card-heading {
    font-size: 130%;
  }
}

.card-3 {
  grid-column-end: span 6;
  .card-image {
    img {
      height: 30rem;
    }
  }
}

.card-body {
  margin-top: 1rem;
}

.card-body .card-heading {
  font-weight: 700;
}


.card-body p {
  opacity: 0.5;
}

/* Headings
   ========================================================================== */

.h1 {
  font-size: 3.6rem;
  font-weight: 600;
  margin: 0 0 2rem;
  a {
    text-decoration: none;
    color: #000;
  }
}

.h3 {
  font-size: 2.1rem;
  font-weight: 600;
  margin: 0 0 2rem;
}

/* Main nav 
   ========================================================================== */

nav {
  margin-bottom: 2rem;
}

nav a {
  font-size: 2.4rem;
  font-weight: 500;
  text-decoration: none;
  margin-right: 2rem;
  color: #999;
  &.selected,
  &:hover,
  &:focus {
    color: #000;
  }
}